<html>

<head>
    <title>Dictionary</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
<h2>Welcome to translater</h2>

<form method="get" action="/cgi-bin/check.rb">
    <p>search</br><textarea id="src" name="word" cols="50" rows="10"></textarea></p>
    <!--        <p><input type="submit" value="send"></p>-->
</form>
<!--指定IDのエレメント取得サンプル-->
<p id="linked"></p>

<div id="display">null</div>

<br/>
<button id="getDict">get remote dictionary</button>
<button id="resetDict">reset dictionary</button>
<button id="convText">add link</button>

<script type="text/javascript" src="dict.js"></script>
</body>
</html>
