<html>

<head>
    <title>Dictionary</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8"/>
    <meta http-equiv="content-style-type" content="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>

<body>
<h2>Welcome to translater</h2>

<form method="get" action="/api/login">
    <input type="text" name="name"/>
    <input type="submit">
</form>
</form>
</body>
</html>
